/* Lease Page Specific Styles */
.lease-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allow main content to grow */
  padding: 0; /* Remove default padding */
}

#fl-embeded-dealer {
  flex-grow: 1; /* Allow the embed container to grow */
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure it takes full height of its parent */
}

#fl-embeded-dealer iframe {
  width: 100%;
  height: 100%;
  border: none; /* Remove iframe border */
}
